.promo {
  @extend .notice;
  min-height: 250px;
  img {
    float: none;
    max-width: 16em;
    max-height: 13em;
    margin-right: 1em;
    @media #{$small} {
      float: left;
    }
  }
  strong {
    font-size: 1.2em;
  }
  .logo {
    max-width: 7em;
    max-height: 2em;
    float: none;
  }
}

.top-navigation {
  img {
		max-width: 6em;
	}
}

.vertical-margin {
  margin: 1em 0;
}

.twitter-feed {
  display: none;
  @media #{$large} {
    display: block;
  }
  @media #{$x-large} {
    display: block;
  }
}
